body{
    margin: 0px;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

.logo{
    height: 70px;
}
    .mainbutton{
    background-color: black;
    color: white;
    }

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.mainbutton{
    background-color: black;
    color: white;
}

.mainbutton:hover{
    cursor: pointer;
    box-shadow: 5px 5px pink;
    transform: scale(1.3);
}

.secondarybutton{
    background-color: blue;
    color: white;
}

.mainbutton:hover{
    box-shadow: 5px 5px pink;
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;

}

.buscar:focus-within{
    border: 1px solid blue;
}

.buscar > input{
    outline: none;
    border: 0px;
}