body{
    margin: 0px;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.mainbutton{
    background-color: black;
    color: white;
}

.mainbutton:hover{
    cursor: pointer;
    box-shadow: 5px 5px pink;
    transform: scale(1.3);
}

.secondarybutton{
    background-color: blue;
    color: white;
}

.mainbutton:hover{
    box-shadow: 5px 5px pink;
}